:root {
	--white: #fff;
	--black: #000;
	--body-bg: #F3FFFA;
	--footer-bg: #84C7AE;
	--header-bg: #84C7AE;
	--hover-link: #fff;
	--button-color: #84C7AE;
	--button-text-color: #fff;
	--input-border-color: #ccc;
	--form-bg: #F6FBF9;
	--heading-text-color: #212B27;
	--placeholder-color: #000;
	--nav-link-color: #fff;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	height: 100vh;
	font-family: "Overpass", sans-serif;
	font-optical-sizing: auto;
	font-style: normal;
	background-color: var(--body-bg);
	background-image: none;
}

#root {
	height: 100%;
	/*background-color: var(--white);*/
}

li {
	list-style: none;
}

a {
	text-decoration: none;
	color: inherit;
}