.button__wrapper {
    position: relative;
}

.button {
    position: relative;
    background-color: var(--button-color);
    padding: 10px 30px;
    border: none;
    border-radius: 15px;
}

.button:hover {
    cursor: pointer;
    opacity: 0.5;
}

.button:has(+.loader) {
    opacity: 0.5;
}