.input {
    border-color: var(--input-border-color);
    border-radius: 10px;
    width: 82%;
    font-size: 23px;
    padding: 20px;
    box-sizing: border-box;
    margin: 0 0 20px 0;
    outline: none;
}

input::-webkit-input-placeholder {
    color: var(--placeholder-color);
    font-size: 23px;
    opacity: 0.5;
}

input:-moz-placeholder {
    color: var(--placeholder-color);
    font-size: 23px;
    opacity: 0.5;
}