body {
    background-image: url("../../../shared/assets/auth_background.png");
    background-size: cover;
}

.login__container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login__layout {
    background-color: var(--form-bg);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 73%;
    max-width: 46%;
    border-radius: 40px;
    margin: 0 auto;
    padding: 32px;
    box-sizing: border-box;
}

.login__heading {
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    color: var(--heading-text-color);
}

.login__info {
    font-size: 20px;
    text-align: center;
    max-width: 64%;
    margin: 10px auto 20px;
}

.login__button {
    font-size: 33px;
    font-family: "Overpass";
    border-radius: 15px;
    padding: 23px 92px;
    box-sizing: border-box;
    color: var(--button-text-color)
}

.login__to-registration {
    text-align: center;
    font-size: 21px;
    margin: 20px 0 0;
}

.login__ref {
    text-decoration: underline;
}